h1 {
    background-color: #000000;
    margin-right: auto;
    margin-left: auto;
    font-family: arial, 'Times New Roman', Times, serif;

}

foto {

margin-left: 50px;
width: 200px;

}